<div class="tabs">
  <button
    class="tabs__button tabs__all-option"
    routerLink="/"
    routerLinkActive="tabs__button--is-active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    All
  </button>
  <button
    class="tabs__button tabs__favs-option"
    routerLink="/favs"
    routerLinkActive="tabs__button--is-active"
  >
    My faves
  </button>
</div>

<!-- <div class="container mx-auto">
  <select name="categories" id="" class="categories" title="Categories">
    <option value="" disabled selected>Select your news</option>
    <option value="">Angular</option>
    <option value="">React</option>
    <option value="">VueJS</option>
  </select>
</div> -->

<router-outlet></router-outlet>
