<div class="headline">
  <div class="headline__info">
    <div class="headline__metadata">
      <span class="material-icons headline__time-icon"> schedule </span>
      <div class="headline__about">
        <span class="headline__time-ago">3 days&nbsp;</span>

        <span class="headline__author">by author</span>
      </div>
    </div>

    <h3 class="headline__title">
      All the fundamental React.js concepts, jammed into this single Medium
      article (updated August 2019)
    </h3>
  </div>

  <button class="headline__favorite">
    <span class="material-icons"> favorite_border </span>
  </button>
</div>
