<div class="headline" [id]="headline.story_id">
  <div class="headline__info" (click)="goToPost(headline.story_url)">
    <div class="headline__metadata">
      <span class="material-icons headline__time-icon"> schedule </span>
      <div class="headline__about">
        <span class="headline__time-ago"
          >{{ headline.created_at | timeAgo }} &nbsp;</span
        >

        <span class="headline__author">by {{ headline.author }}</span>
      </div>
    </div>

    <h3 class="headline__title">
      {{ headline.story_title }}
    </h3>
  </div>

  <button class="headline__favorite" (click)="toggleFavoriteStatus(headline)">
    <span class="material-icons" *ngIf="!headline.is_favorite; else favorite">
      favorite_border
    </span>
    <ng-template #favorite>
      <span class="material-icons"> favorite </span>
    </ng-template>
  </button>
</div>
