.sidebar {
  position: fixed;
  font-family: "Roboto", sans-serif;
  left: -75%;
  top: 0;
  width: 75%;
  height: 100%;
  background-color: rgba(250, 250, 250, 0.65);
  backdrop-filter: blur(8px);
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.25);
  padding-left: 1rem;
  transition: all 0.5s ease;
}
.sidebar__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
}
.sidebar__close-icon {
  width: 4rem;
  height: 4rem;
}
.sidebar__items {
  display: flex;
  flex-direction: column;
}
.sidebar__item {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--gray-light);
}
.sidebar__item a {
  text-decoration: none;
}
.sidebar__item-logo {
  width: 25px;
  height: 25px;
  margin-right: .75rem;
}
#sidebar-check {
  display: none;
}
#sidebar-check:checked ~ .sidebar {
  left: 0;
}
@media (min-width: 768px) {
  .sidebar {
    display: none;
  }
}
